<section class="row" id="datatabox">
    <div class="col-sm-4">
        <div class="statistic-box red">
            <div>
                <div class="number">0</div>
                <div class="caption">
                    <div>Views</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="statistic-box red">
            <div>
                <div class="number">$0.0002</div>
                <div class="caption">
                    <div>Earnings</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="statistic-box green">
            <div>
                <div class="number">$0.0003</div>
                <div class="caption">
                    <div>Total Available Earnings</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card" id="statistics">
    <div class="card-block">
        <div id="chart"></div>
    </div>
</section>
