<div class="card">
    <header class="card-header card-header-xxl">
        New Advertising
        <%= link_to 'Back', ads_path, class: 'modal-close' %>
    </header>
    <div class="card-block">
        <%= render 'form', ad: @ad %>
    </div>
</div>
