<section id="intro" class="no-pbtm">
    <div class="container text-center">
        <div class="row main-text">
            <div class="col-md-12">
                <h1>Please disable your AdBlock to continue</h1>
            </div>
        </div>
    </div>
</section>
<section id="disable-adblock" class="bg-white">
    <div class="container text-center">
        <p>
            <%= link_to 'Go back', url_for(:back), class: 'btn btn-lg btn-danger-outline' %>
        </p>
        <hr>
        <p>
            <iframe src="//giphy.com/embed/IFpVKDqOo84F2" width="480" height="420" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </p>
    </div>
</section>