<section id="disable-adblock" class="bg-white">
    <div class="container text-center">
        <h1>Please <b>disable</b> your AdBlock to continue</h1>

        <p>
            <%= link_to 'Continue', url_for(:back), class: 'btn btn-lg btn-danger' %>
        </p>
        
        <p>
            <iframe src="//giphy.com/embed/IFpVKDqOo84F2" width="480" height="420" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </p>
    </div>
</section>