
.adlink .fixheader {
    height: 100px;
}
.adlink .card .card-block {
    padding: 40px 30px 30px;
}
.adlink .content, .about, .getit {
    padding: 80px 0 160px;
}
.adlink .about {
    background: white;
}
.adlink footer {
    padding: 30px 0;
}

.adlink .g-recaptcha {
    display: inline-block;
}