
.shortestlink .fixheader {
    height: 100px;
}
.shortestlink .card .card-block {
    padding: 40px 30px 30px;
}
.shortestlink .content, .about, .getit {
    padding: 80px 0 160px;
}
.shortestlink .about {
    background: white;
}
.shortestlink footer {
    padding: 30px 0;
}

.shortestlink .g-recaptcha {
    display: inline-block;
}