// Place all the styles related to the Withdraw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.withdraw .earnings-data {
    padding: 25px;
}

.withdraw .bg-light {
    margin: 2em 0;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    background-color: #f7fafa;
    padding: 20px;
}