<% if notice %>
<p class="alert alert-success alert-icon alert-close alert-dismissible fade in">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <i class="font-icon font-icon-warning"></i>
  <%= notice %>
</p>
<% end %>
<% if alert %>
<p class="alert alert-danger alert-icon alert-close alert-dismissible fade in">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <i class="font-icon font-icon-warning"></i>
  <%= alert %>
</p>
<% end %>